In [ ]:
# Python has 2 modes: Edit and Command. The color to the left of a box
# indicates what mode you are in.
# Green is Edit mode. Blue is Command mode. Click on this box to enter Edit mode.

In [ ]:
#Print Hello World
# Press shift + Enter to run a script, press 00 to reset Kernel

print('Helle World!')

In [ ]:
# printing 'Hello World!' with variables instead of plain text
hel = "'Hello"
wor = "World!'"
print(hel,wor)

I am a markdown cell / used for comments... I guess...

In [ ]:
# This line shows a code cell

print("I'm a code cell")

In [ ]:
# In this line we set a variable (x) to 1 and print it
# an alternative way to print the value of a variable is simply to write the name of the variable e.g. x - see also line below

x = 1
print(x)
x

# you can define multiple variables in a single line by using comma separation. Note the space after the comma 
a, b = 3, 4
print(a,b)

In [ ]:
x

In [ ]:
# In this line we set x to 10

x = 10

In [ ]:
# This line is used to print only.
# The objective of this line is to show how Python can run script lines In [] in custom order.
# We can both define x as 1 or 10 depending on what script we run (see above). Resetting the kernel allows for re-runs
# To reset the kernel press 00 (zero twice)

print(x)

In [ ]:
# \n is used to break line
print("Hello\nWorld!")

In [ ]:
# Use the Type command to identify the Type of a value.
# In the below example Python retuns Int(integer) - if you have run the scripts above

type(1)

In [ ]:
# Expressions:
# Python can run operations. Values are called operands and mathematical expressions are called operators

20 + 30

In [ ]:
# Python follows mathematical rules. In the below example Python mutiplies 2 and 3 before adding 10.

2*3+10

In [ ]:
# We can control howe Python make operations by using parentheses etc.

2*(3+10)

In [ ]:
# We can define variables in Python
# This enables us gain insights to data, by importing data, manipulate imported data and report and presenting it

my_variable = 300
variable2 = my_variable / 60

In [ ]:
# Note how Python by default make variables float Type

print(variable2)

In [ ]:
# Check the Python Version

import sys
print(sys.version)

In [ ]:
# This line checks the Type og the value True. True and False are Boolean values. Thus, the operation below returns bool.

type(True)

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert False to int

int(False)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

In [ ]:
# RE-CAP: to check the type of a value or expression write Type(expression/value)
# We can also check type of equations
# example: what type is 6 / 2? Type(6/2) returns float
type(6/2)

In [ ]:
# The Convert command allow use to convert data types. The command below converts a Float to Integer.
int(1.1)

In [ ]:
# String Operations - A string can be seen as a sequence of values
# each letter respresents a value depending on the letters position within the string
# The len command returns the number of values in a particular string
# Example: the String Hello contains 5 letters

Name = "Hello"
print(Name)
len("Hello")

In [ ]:
# The first letter is a String has the value 0, when reading left to right
# If you have run the script above, this line returns H

Name[0]

In [ ]:
# Value -1 is the first letter in a string, when reading right to left

Name[-1]

In [ ]:
# The FIND function
# The Find function allows us to look up specific values within a String
# The find function return a number for the letter's value(position) in the string.

"0123456".find('1')

In [ ]:
# Slicing allow us to extract a sequence of values from a String
# In the below command, we use Slicing to find the first four elements of the following string:
# In the case below D has string value 3

Letters="ABCDEFGHIJK"
Letters[0:4]

In [ ]:
# The Upper command allow us to convert letters in a string to uppercase.
# Convert the following string to uppercase using the method upper()

A="uppercase"
B=A.upper()
B

In [ ]:
# Use a stride value of two on the following string :

Good="GsoAo+d"

Good[::2]

In [ ]:
# We can combine Strings through concatenation.
# Concatenate Strings

Name = 'John'
Name = Name + ' is the best'
Name

In [ ]:
# Multiplication of Strings

3 * Name

In [ ]:
3 + 2* 2

In [ ]:
# slicing returns a number of values starting from the left
# you add 1 to the number of values you wish to return, starting from 0
# we can combine slicing and print
# In the example below we wish to see the first 2 values (position 0 and 1) - the slicing is 1 larger than the length of...
# ... a string

name = 'Lizz'
print(name[0:2])

In [ ]:
# we can combine stride and print
# END OF MODULE 1

var = '01234567'
print(var[::2])

In [ ]:
# MODULE 2: TUPLES
# Tuples are compound data types. Tuples are ordered sequences. Tuples are expressed as comma separated elements...
# Tuples are written with parentheses
# In the example below we create a Tuple "Tuple1" that contains "disco", 1 and 5.0

Tuple1 =("disco", 1, 5.0)
print(Tuple1)

# We can access different elements via index[] - Index starts from 0.
# Through accessing elements via index, we can manipulate(change) individual parts within a Tuple - see below... 

Tuple1[2]

# Tuple is a type of data structure. Basically it is like a basket of variables. Like a container.
# Note how we can name a Tuple whatever we like.

Test =("disco", 1, 5.0)
print(Test)

In [ ]:
# We can access different elements via index[] - Index starts from 0.
# Through accessing elements via index, we can manipulate(change) individual parts within a Tuple 

#For the next few questions, you will need the following list:

B=["a","b","c"]

# Find the first two elements of the list  B:

B[0:2]

# Change the first element of the list to an uppercase  "A"
# Here we access an element through index, and then manipulate the element - change it to uppercase.

B[0]="A"

print (B)

In [ ]:
B=["a","b","c"]
B[1:]

In [ ]:
# In Python we work with Strings, Integers and Floats.
# We can compound data in Lists and Tuples.
# To create a Tuple type Tuple =()
# Note - we can name a Tuple whatever we like.

tuple1 = ("disco",10,1.2 )
tuple1

In [ ]:
# Beta
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

In [ ]:
# Tuples are immutable - immutable means that you cannot change a tuple.
# To change a tuple, you create a new tuple. See example below.

In [ ]:
# Here we have a tuple. The tuple is called Ratings and contains 9 elements.

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
# To sort the tuple, we create a new tuple. Let's call it RatingsSorted.
# See how we create a new tuple to sort Ratings. Basically, because tuples are immutable we cannot directly...
# ... sort Ratings. But we can create a new tuple which is Ratings sorted.

RatingsSorted = sorted(Ratings)
RatingsSorted

In [ ]:
# Nested Tuple
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

In [ ]:
# Check that you have run the script above.
# We can access individual elements within nested tuples using the command below.
# Print the first element in the second nested tuples

NestedT[2][1][0]

In [ ]:
# LISTS
# Lists are compound data types. Lists are ordered sequences. Lists are expressed as comma separated elements...
# Lists are written with brackets
# In the example below we create a List Sample that contains "disco", 1 and 5.0

Sample =["disco", 1, 5.0]
print(Sample)

# We can access different elements via index[] - Index starts from 0.
# Through accessing elements via index, we can manipulate(change) individual parts within a List - see below... 

Sample[2]

# List is a type of data structure. Basically it is like a basket of variables. Like a container.
# However, lists are mutable and can be changed, which is different from tuples.

In [ ]:
# Alpha
# Just like Tuples, Lists can be nested. Nested lists contain lists and tuples

NestedL =[1, 2, ("pop", "rock") ,(3,4),("disco",(1,2))]

# Print element on each index

print("Element 0 of List: ", NestedL[0])
print("Element 1 of List: ", NestedL[1])
print("Element 2 of List: ", NestedL[2])
print("Element 3 of List: ", NestedL[3])
print("Element 4 of List: ", NestedL[4])

# We can access individual elements within nested tuples using the command below.
# Print the first element in the second nested tuples

NestedL[2][1][0]

In [ ]:
# Concatenate
NestedL[2:4]

# Lists can also be concatenated

NestedL2 =[1, 2]
NestedL + NestedL2

In [ ]:
# Extend
# Lists are mutable
# Try reset Kernel, then run Aplha script and then run this script.
# See how the extend function adds two separate values to the List
NestedL.extend([1, 2])
NestedL

# Note how we create new tuples, when we wish to modify them. See Line Beta
# But we can manipulate Lists without creating new ones.

In [ ]:
# Append
# Try reset Kernel, then run Aplha script and then run this script.
# See how the append function adds one List instead of two separate values

NestedL.append([1, 2])
NestedL

In [7]:
# Change 
# We can change values within a list using index
A = [1, 2, 3]
print (A)
A[0]=8
print(A)

[1, 2, 3]
[8, 2, 3]

In [ ]:
# Delete
# Try reset Kernel, then run Aplha script and then run this script.
# We can delete individual elements in a List with the Del command
# The command below deletes 'pop, 'rock' from the List 

del(NestedL[2])
NestedL

In [ ]:
#CONVERT STRING TO LIST
# We can convert a string into a list using the split function
# This split converts the string into a list with two elements hard and rock

"hard rock".split()

# We can also split a string based on a chosen delimiter, here a comma
# This creates a list with four strings
"A,B,C,D".split(",")

In [8]:
# We can aliasing lists. Here we create List B which is a copy of List A
A =[1, 2, 3]
B = A
B

[1, 2, 3]

In [9]:
# If we change en element in List A, it automatically changes in List B too.

A[0] = "A"
B

['A', 2, 3]

In [ ]:
# CLONE
# If you want to duplicate a List, A, but want it in a separate list, we use Clone function

A = [1,2,3]
B = A[:]
B

In [ ]:
# See how we can extend prints to include descriptions, explanations etc by comma separation
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

In [ ]:
# SETS
# Sets are a type of collection, just like Tuples and Lists
# However, Sets are unordered. Each element does not come in sequence.
# Sets only contain unique values. Duplicates are removed.
# Sets are written in brackets
# Note how Sets display strings in alphabetical order

Brokers ={'Aon', 'Willis', 'Marsh', 'Marsh', 'Aon', 'Aon', 'Dansoe', 'Hansson & Partner'}
Brokers

In [ ]:
#Type Casting allow us to convert Lists to Set

A =["Allan", "Allan", 5, 2, 3.4]
print(A)
Set =set(A)
print(Set)

In [ ]:
# Run the script above before start
# We can verify if a set contains a particular value using the in Function
# In the command below, we check if Set contains the string "Allan"
# The in Function returns a boolean value (True, False)

"Allan" in Set

In [ ]:
#Cast List to Set
A = ['A','B','C','A','B','C']
B = set(A)
B

In [ ]:
# Intersection between A and B
# Alternatively use the intersection function
A={1,2,3,4,5}
B={1,3,5,9,12}
C = A & B
print(C)

print(A.intersection(B))

# We can also check what values are different between two sets
# Use a Veen diagram to visualize how the functions below work
print(A.difference(B) )
print(B.difference(A) )

In [ ]:
# UNION function | Superset Function
# Find the union of two sets

A.union(B)

# Check if superset

print(set(A).issuperset(B)  )

# Check if subset

print(set(A).issubset(B))

In [ ]:
# SUM Function
# The SUM Function return the sum of values
A =[1, 2, 2, 1]
B ={1, 2, 2, 1}

print (sum(A))
print (sum(B))

In [ ]:
# DICTIONARIES
# What are Dictionaries?
# A dictionary consists of keys and values. It is helpful to compare a dictionary to a list.
# Instead of the numerical indexes such as a list, dictionaries have keys.
# These keys are the keys that are used to access values within a dictionary.
# In summary, like a list, a dictionary holds a sequence of elements.
# Each element is represented by a key and its corresponding value.
# Dictionaries are created with two curly braces containing keys and values separated by a colon.
# For every key, there can only be one single value, however, multiple keys can hold the same value.
# Keys can only be strings, numbers, or tuples, but values can be any data type.

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

In [10]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [11]:
# Access to the value by the key

Dict["key1"]

1

In [12]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
# Append value with key into dictionary

Dict['Graduation'] = '2007'
Dict

In [ ]:
# Delete entries by key

del(Dict['Graduation'])
Dict

In [14]:
# Get all the keys in dictionary

Dict.keys()

# Get all the values in dictionary

Dict.values()

# Verify the key is in the dictionary

'B' in Dict

False

In [13]:
#Look up a corresponding value - e.g. what values does "A" hold?
Dict["A"]

KeyError: 'A'

In [ ]:
#MODULE 3: Python Programming Fundamentals

In [ ]:
#Comparison Operators / CONDITIONS AND BRANCHING
# Comparison operators compare some value or operand, then, based on some condition, they produce a Boolean.

#Letâ€™s say
a = 6

# To do a conditional comparison or two operands, we write

a == 7

# This operator asks if the operand a is equal to the operand 7 and then returns a true or false.
# In this example it returns false, as a = 6 and the other operand is 7.

# Comparison Operators

# Comparison operations compare some value or operand and, based on a condition, they produce a Boolean.
# When comparing two values you can use these operators:
#
 #   equal: ==
  #  not equal: !=
   # greater than: >
    #less than: <
    #greater than or equal to: >=
    #less than or equal to: <=

In [ ]:
# We can also compare values and operands to expressions (< >) and operands ( + - * / )
i = 1
x = 1
y = 1

i == x + y

In [ ]:
# The expression != (exclamation mark + equal sign) tests if the comparison is false (not true)
x = 2
x != 2

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

In [ ]:
#BACKGROUND
# Inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters.
# The decimal value shown in the following table represents the order of the character:
# For example, the ASCII code for ! is 21, while the ASCII code for + is 43.
# Therefore + is larger than ! as 43 is greater than 21.
#Likewise B is greater than A because A is ASCII 101 and B is ASCII 102

In [ ]:
# BRANCHING
# The If statement checks if a condition is met. If the condition is met the intrent is run.
# Note how Python will always run code below the if statement regardless. Compare age = 12 to age = 20.
# Branching allows us to run different statements for different inputs.
# It is helpful to think of an if statement as a locked room, if the statement is True
# we can enter the room and your program will run some predefined tasks, but if the statement is False
# the program will ignore the task.

age = 12

if (age > 17):
    
    print("you may enter")
    
print ("move alone")

In [ ]:
# The else expression allow us to do a A/B logic
# Note the parenthesis in the if statement are not mandatory

age = 12

if (age > 17):
    
    print("you may enter")

else:
    
    print ("move alone")
    
print ("want something to drink?")

In [ ]:
#ELIF statements (else if)

age = 19

if age > 18:
    print("You can enter")
    
elif(age==18):
    print("Go see Pink Floyd")
    
else:
    print("Go see Meat Loaf")
    
print("Move on")

In [ ]:
# LOGIC OPERATORS

In [ ]:
# Condition statement example IF NOT

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

In [ ]:
# Condition statement example AND

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

In [ ]:
# Condition statement example OR

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

In [ ]:
# Write your code below and press Shift+Enter to execute

album_year = 1970

if (album_year < 1980) or (album_year == 1991) or (album_year == 1993):
    print(album_year)

In [19]:
# FOR LOOPS && WHILE LOOPS
# First Range function
# The Range function outputs an ordered sequence in a List.
# The Range function names List i.
range(3) # produces [0,1,2]
# range(10,15) produces [10,11,12,13,14]

range(0, 3)

In [20]:
# The FOR LOOP function - see how the function runs in iterations
squares =['Allan', 'Bobby', 'Cello']
    print(squares)

    print("")

for i in range(0,3): # Remember the colon
    squares[i]= 'Delta'

    print (squares)

IndentationError: unexpected indent (<ipython-input-20-e224458996fa>, line 3)

In [21]:
# The WHILE LOOP performs a similar task as the FOR LOOP.
# However, the while loop will only run while a condition is met.
# The loop is interrupted at "Brown"

squares = ["Black", "Black", "Black", "Brown", "Black"]

NewSquares = []

i=0

while (squares[i] == "Black") : # read as "As long as..."
    
    NewSquares.append(squares[i]) # read as: then append to NewSquares the particular element
    
    i = i + 1
    
    print(NewSquares)

['Black']
['Black', 'Black']
['Black', 'Black', 'Black']

In [ ]:
# We can name the index anything we want (i, a, b, john, etc)
A=[1,2,3,4,5]

for number in A:
    print(number)

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

In [ ]:
# Write your code below and press Shift+Enter to execute
range(-5,5)

i = -5

for i in range(-5,6):
    print(i)
    
    i = i + 1
    
#OR

In [ ]:
for i in range(-5,6):
    print(i)

In [ ]:
# Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
# Make sure you follow Python conventions.

# Write your code below and press Shift+Enter to execute

Genres = ["rock", "R&B", "Soundtrack", "R&B", "Soul", "Pop" ]

for genre in Genres:
    print (genre)

In [ ]:
# HARD
# For PlayListRatings, write a while loop to display ratings until rating is below 6
# Write your code below and press Shift+Enter to execute

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0
Rating = PlayListRatings[0]

while (Rating > 6):
    print(Rating) 
    Rating = PlayListRatings[i]
    i = i + 1

In [ ]:
x = 1
while True:
    print("To infinity and beyond! We're getting close, on %d now!" % (x))
    x += 1

In [ ]:
#Fun and Games below...

In [ ]:
import xlrd

loc = ('Z:\TestSheet.xlsx')

workbook = xlrd.open_workbook(loc)

sheet = workbook.sheet_by_index(0)
sheet.cell_value(0, 0) 
  
for i in range(sheet.ncols): 
    print(sheet.cell_value(0, i))

In [1]:


def f(c):

return sum(c)

IndentationError: expected an indented block (<ipython-input-1-9a6417d05ef5>, line 3)

In [ ]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

In [ ]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [ ]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

In [ ]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var = "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

In [ ]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var = "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

In [2]:
# See how global values take presedence over local values
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [ ]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [ ]:
df['a'].unique()

In [ ]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [25]:
import numpy as np
c=np.array([20, 1, 2, 3, 4])
c

array([20,  1,  2,  3,  4])

In [26]:
a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [27]:
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [29]:
#what is the result of the following lines of code:

a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])

In [32]:
import numpy as np
a=np.array([1,2,3,4,5])

type(a)
a.shape
a.dtype
np.mean(a)

3.0

In [34]:
A=np.array([[1,2],[3,4],[5,6],[7,8]])
print(a)

[1 2 3 4 5]

In [35]:
A=np.array([[1,2],[3,4],[5,6],[7,8]])

B=np.array([[1,2,3],[4,5,6],[7,8,9]])

np.dot(A,B)

ValueError: shapes (4,2) and (3,3) not aligned: 2 (dim 1) != 3 (dim 0)

In [ ]:
# Create a list

a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]
a

In [ ]:
# Convert list to Numpy Array
# Every element is the same type

A = np.array(a)
A

In [ ]:
# Create a matrix C

C = np.array([[1,1],[2,2],[3,3]])
C

In [ ]:
# Get the transposed of C

C.T

In [37]:
from nba_api.stats.static import teams

ModuleNotFoundError: No module named 'nba_api'

In [38]:
! wget https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl

'wget' is not recognized as an internal or external command,
operable program or batch file.